<div class="container center">
  <h1><%= @species.name.capitalize %></h1>
<div class="row">
    <% @animals.each do |animal| %>
      <%= render partial: "shared/all_pets", locals: { element: animal } %>
    <% end %>
  </div>
</div>
