

<!-- different sections for accessories and pets -->


<div class="container">
  <div class="container">

    <h2>Animals</h2>
    <table>
      <thead>
        <tr>
            <th data-field="id">Name</th>
        </tr>
      </thead>

      <ul class="collection">
      <% @animals.each do |animal| %>
          <li class="collection-item avatar">
            <img src="<%= animal.image_path %>" alt="" class="circle">
            <span class="title"><b><%= animal.name %></b></span>
            <p>Breed: <%= animal.breed %> <br>
               Age: <%= animal.age %>
            </p>
            <a href="#!" class="secondary-content"><i class="material-icons">pets</i></a>
          </li>
      <% end %>
    </ul>
    </table>

  </div>
</div>
