<footer class="page-footer footer-small">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">MaxFund</h5>
        <p class="grey-text text-lighten-4">MaxFund is a true no kill animal shelter and adoption center that challenges the traditional methods of animal sheltering by leading the no kill movement in Colorado. We strive to give animals, including the injured, abandoned, and abused, a "second chance at life."</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <ul>
          <li><%= link_to "Github Repo", "https://github.com/drew-t/little_shop", class: "waves-effect btn-flat hoverable" %></li><br/>
          <li><%= link_to "MaxFund.org", "https://www.maxfund.org/", class: "waves-effect btn-flat hoverable" %></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
