<h1 class="center">All Pets</h1>
<div class="row">
  <div class="container">
  <% @animals.each do |animals| %>
      <%= render partial: "shared/all_pets", locals: { element: animals } %>
  <% end %>
</div>
  </div>
</div>
