.pad-right-small {
  padding-right: 10px;
}

.pad-left-small {
  padding-left: 10px;
}

.pad-top-50 {
  padding-top: 50px;
}

.pad-top-20 {
  padding-top: 20px;
}

.pad-top-80 {
  padding-top: 80px;
}

.pad-left-20 {
  padding-left: 20px;
}

.pad-right-20 {
  padding-right: 20px;
}

.pad-bottom-50 {
  padding-bottom: 50px;
}
