<div class="container center">
  <h1>Cats</h1>

  <div class="row">
    <% @cats.each do |cat| %>
      <%= render partial: "shared/all_pets", locals: { element: cat } %>
    <% end %>
  </div>
</div>
