<div class="container">
  <h3 class="center pad-top-50">Admin Dashboard</h3>

  <div class="center">
    <%= link_to "Edit", edit_admin_user_path(current_user), class: "btn waves-effect waves-light" %>
  </div>
</div>
